dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%,-50%);
  padding: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  max-height: 90%;
  /* animation: fade-in 0.3s reverse; */
}


dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}  
/* dialog[open] {
  animation: fade-in 0.3s forwards;
} */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform:scale(0.8);
  }

  100% {

    transform:scale(1);
    opacity: 1;
  }
}
